{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-4 col-lg-4 col-sm-4"></div>
      <div class="col-md-4 col-lg-4 col-sm-4">
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}

          {% comment %} {% for fm in form %}
            {{ fm.label_tag }}
            {{ fm }}
            {{ fm.errors|striptags }}
          {% endfor %} {% endcomment %}

          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4"></div>
    </div>
  </div>
{% endblock %}
