<div class="sidebar-left" data-simplebar style="height: 100%;">
  <!-- sidebar menu -->
  {% load static %}
  <ul class="nav sidebar-inner" id="sidebar-menu">
    <li class="active">
      <a class="sidenav-item-link" href="{% url "home" %}">
        <i class="mdi mdi-briefcase-account-outline"></i>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>

    <li class="section-title">UI Elements</li>

    <li class="has-sub">
      <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements" aria-expanded="false" aria-controls="ui-elements">
        <i class="mdi mdi-folder-outline"></i>
        <span class="nav-text">UI Components</span> <b class="caret"></b>
      </a>
      <ul class="collapse" id="ui-elements" data-parent="#sidebar-menu">
        <div class="sub-menu">
          <li>
            <a class="sidenav-item-link" href="alert.html"><span class="nav-text">Alert</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="badge.html"><span class="nav-text">Badge</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="breadcrumb.html"><span class="nav-text">Breadcrumb</span></a>
          </li>

          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#buttons" aria-expanded="false" aria-controls="buttons"><span class="nav-text">Buttons</span> <b class="caret"></b></a>
            <ul class="collapse" id="buttons">
              <div class="sub-menu">
                <li>
                  <a href="button-default.html">Button Default</a>
                </li>

                <li>
                  <a href="button-dropdown.html">Button Dropdown</a>
                </li>

                <li>
                  <a href="button-group.html">Button Group</a>
                </li>

                <li>
                  <a href="button-social.html">Button Social</a>
                </li>

                <li>
                  <a href="button-loading.html">Button Loading</a>
                </li>
              </div>
            </ul>
          </li>

          <li>
            <a class="sidenav-item-link" href="card.html"><span class="nav-text">Card</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="carousel.html"><span class="nav-text">Carousel</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="collapse.html"><span class="nav-text">Collapse</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="editor.html"><span class="nav-text">Editor</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="list-group.html"><span class="nav-text">List Group</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="modal.html"><span class="nav-text">Modal</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="pagination.html"><span class="nav-text">Pagination</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="popover-tooltip.html"><span class="nav-text">Popover & Tooltip</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="progress-bar.html"><span class="nav-text">Progress Bar</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="spinner.html"><span class="nav-text">Spinner</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="switches.html"><span class="nav-text">Switches</span></a>
          </li>

          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#tables" aria-expanded="false" aria-controls="tables"><span class="nav-text">Tables</span> <b class="caret"></b></a>
            <ul class="collapse" id="tables">
              <div class="sub-menu">
                <li>
                  <a href="bootstarp-tables.html">Bootstrap Tables</a>
                </li>

                <li>
                  <a href="data-tables.html">Data Tables</a>
                </li>
              </div>
            </ul>
          </li>

          <li>
            <a class="sidenav-item-link" href="tab.html"><span class="nav-text">Tab</span></a>
          </li>

          <li>
            <a class="sidenav-item-link" href="toaster.html"><span class="nav-text">Toaster</span></a>
          </li>

          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#icons" aria-expanded="false" aria-controls="icons"><span class="nav-text">Icons</span> <b class="caret"></b></a>
            <ul class="collapse" id="icons">
              <div class="sub-menu">
                <li>
                  <a href="material-icons.html">Material Icon</a>
                </li>

                <li>
                  <a href="flag-icons.html">Flag Icon</a>
                </li>
              </div>
            </ul>
          </li>

          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#forms" aria-expanded="false" aria-controls="forms"><span class="nav-text">Forms</span> <b class="caret"></b></a>
            <ul class="collapse" id="forms">
              <div class="sub-menu">
                <li>
                  <a href="basic-input.html">Basic Input</a>
                </li>

                <li>
                  <a href="input-group.html">Input Group</a>
                </li>

                <li>
                  <a href="checkbox-radio.html">Checkbox & Radio</a>
                </li>

                <li>
                  <a href="form-validation.html">Form Validation</a>
                </li>

                <li>
                  <a href="form-advance.html">Form Advance</a>
                </li>
              </div>
            </ul>
          </li>

          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#maps" aria-expanded="false" aria-controls="maps"><span class="nav-text">Maps</span> <b class="caret"></b></a>
            <ul class="collapse" id="maps">
              <div class="sub-menu">
                <li>
                  <a href="google-maps.html">Google Map</a>
                </li>

                <li>
                  <a href="vector-maps.html">Vector Map</a>
                </li>
              </div>
            </ul>
          </li>

          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#widgets" aria-expanded="false" aria-controls="widgets"><span class="nav-text">Widgets</span> <b class="caret"></b></a>
            <ul class="collapse" id="widgets">
              <div class="sub-menu">
                <li>
                  <a href="widgets-general.html">General Widget</a>
                </li>

                <li>
                  <a href="widgets-chart.html">Chart Widget</a>
                </li>
              </div>
            </ul>
          </li>
        </div>
      </ul>
    </li>
  </ul>
</div>
